{# Notice under Section 138 NI Act #}
{% extends 'base_structure.j2' %}
{% import 'macros.j2' as macros with context %}

{% block document_title %}
{{ macros.notice_header("js.kw fouksn fnaMksjdj", branding) }}
{% endblock %}

{% block date_line %}
{{ macros.date_line(notice_date, branding) }}
{% endblock %}

{% block notice_heading %}
{{ macros.notice_title() }}
{% endblock %}

{% block recipient_block %}
{{ macros.to_block(recipient_name, recipient_address, "Statutory notice under Section 138 read with Section 142 of the Negotiable Instruments Act, 1881 demanding payment", cheque_amount, cheque_number, cheque_date) }}
{% endblock %}

{% block subject_line %}
{{ macros.notice_title() }} {{ macros.date_line(notice_date, branding) }} {{ macros.notice_title() }} Statutory notice under Section 138 read with Section 142 of the Negotiable Instruments Act, 1881 demanding payment of Rs {{ cheque_amount | inr }}/- against dishonoured cheque No. {{ cheque_number }} dated {{ cheque_date }}
{% endblock %}

{% block instruction_block %}
vkeps oj ueqn i{kdkj {{ branding.get('advocate_name', '') }}; {{ branding.get('enrollment', '') }}; {% if branding.get('firm_name') %}{{ branding.get('firm_name') }}{% endif %} {% if branding.get('office_address') %}{{ branding.get('office_address') }}{% endif %} le{k fnyYs ;k ekfgrho:u o nk[kfoysY;k dkxni=kao:u vkf.k le{k lkafxrysizek.ks vki.kkl uksVhl ns.;kr ;srs dh]
{% endblock %}

{% block body %}
{{ macros.numbered_para(1, "vkeps i{kdkj gs vktjksth mijksDr ueqn iR;koj jkgr vlqu] rqEkpk o vkeps i{kdkjkapk fookg fn- " ~ cheque_date ~ " jksth Tokyk ekrk ykWUl flUuj] rk- flUuj] ft- ukf”kd ;sFkhy eaxy dk;kZy;ke/; s fganw fookg i)rh /keZ'kkL=] :<h ijaijk] jhrh fjoktkuqlkj] ijaijsuqlkj lia Uu >kysyk vkgs-") }}

{{ macros.numbered_para(2, "lnjpk fookg e/;LFkh " ~ client_name ~ " " ~ client_address ~ " ;kapsekQZr tqGysyk vkgs-") }}

{{ macros.numbered_para(3, "lnj fookg lekjaHkkr vkeps i{kdkjkauh rqEgkyk 1 rksG~;kps euh eaxGlw=] 3 xzWeps dkukrys] 1 rksG;kps usdysl] 3 xzWeph vaxBh] vls lksU;kps nkfxus dsyys s vlwu] pkanhP;k rksjMîkk dsysY;k vkgsr] lnjps loZ lksU;k o pkanhps nkfxus vktjksth rqeP;kdMsp vkgs-") }}

{{ macros.numbered_para(4, "vkeps i{kdkjkaph iRuh ‘kqHkkaxh lgk.k s mQZ ‘kqHkkaxh y{e.k ioGs fgps lqns’k xkis kG [kkaMsdj lkscr fookgckg~; laca/k vlwu rh rqeP;k gkWVys e/;s frpk fiz;dj ;kP;klkscr fn- " ~ cheque_date ~ " jksth vkysyh vlwu] R;kps fllhVhOgh QqVst vkeps i{kdkjkauk iqjkok Eg.kwu vko’;d vkgs- lnjps iqjkos ekx.;kpk vf/kdkj vkeps i{kdkjkauk Hkkjrh; ukxjhd lqj{kk lafgrk 2023 ps dye 94 izek.k s izkRi >kysyk vkg-s rjh fn- " ~ cheque_date ~ " iklwu fn- " ~ presentation_date ~ " i;Zar rqeP;k gkWVsy e/khy fllhfVOgh QqVst") }}

{{ macros.numbered_para(5, "vkeps i{kdkjkaikluw ,d eqyxk ukes ç;k.k fnukad " ~ cheque_date ~ " jksth >kysyk vkgs- vktjksth eqyxk ç;k.k gk rqeP;kdMs vkgs- rlps vktjksth rqEgh vkeps i{kdkjkaikluw xjksnj ukghr-") }}

{{ macros.numbered_para(6, "lnjpk fookg >kY;kuarj rqEgh vkeps i{kdkjkaP;k ?kjh ukf”kd ;sFks ukan.;klkBh vkykr- yXukP;k nqlj~;k fno'kh yxspp rqEgh vkeps i{kdkj vkf.k R;kaps dqVqafc;kaleosr nson'kZuklkBh rqGtkijw ] dksYgkijw ] tstqjh ;sFk s xsykr- ijarq] dqBygh nson'kZu rqEgh eukiklwu vkf.k 'kkarrsr ?ksry ukgh-") }}

{{ macros.numbered_para(7, "myVi{kh fdjdksG dkj.kko:u rqEgh HkkaM.k dk<wu tstqjhyk vkeps i{kdkjkalkscr tksjnkj HkkaM.k dsys- ijarq] dnkfpr yXukrhy /kkoiG vkf.k nson'kZukP;k lxG~;k çoklkeqGs rqEgh neyk vlky vkf.k Eg.kwu rqeph fpMfpM >kyh vlsy] vls vkeps i{kdkjkauk okVys o r'kh R;kauh rqeph letwr ns[khy dk<yh- ijarq] yXukP;k 2 rs 3 fnolkrp rqEgh ,o<s HkkaM.k dsys ;kpk vkeps i{kdkjkauk [kwi eksBk /kDdk clyk gksrk- lnj nson'kZu gksbZi;aZr rqepse/;s vkf.k vkeps i{kdkjkae/; s dks.krsgh 'kkjhfjd laca/k") }}

{{ macros.numbered_para(8, "çLFkkfir >kysys uOgrs- yXukuarj fQjk;yk xsY;kuarj ns[khy rqEgh vkeps i{kdkjkalkscr vkuanh uOgrk ;kph tk.kho rqEgh vkeps i{kdkjkauk d:u ns.;kpk iz;Ru djr gksrk-") }}

{{ macros.numbered_para(9, "yXukps iwohZp rqEgh vkeps i{kdkjkauk rqEgkayk yXukuarj eukyh vkf.k fgekpy izns”k ;sFks fQj.;klkBh tk;ps vlY;kps lkaxr gksrk] R;kyk vuql:u vkeps i{kdkjkap s Hkkokuh rqEgkyk HksV Eg.kwu eukyh] fgekpy çns'k ;sFks fQj.;yk tk.;klkBhps cqfdax dsys vlY;kps lkafxrys o lnj gfuewu fVªi rqEgkyk vkf.k vkeps i{kdkjkauk eh yXukph HksV fnyh vkgs vls R;kus lkafxrys- ijarq eyk u fopkjrk cqdhax dlds k; dsys rq÷;k Hkkokus\ eyk rq÷;klkj[;k yseGV eqyklkscr fQjk;yk ;s.;kr dqBykp baVjsLV ukgh] rw ,dVkp tk Eg.kwu rqEgh dkghgh fopkj u djrk vkeps i{kdkjkalkscr okn ?kky.;kl lq#okr dsyh- lnj çdkj vkeps i{kdkjkauk vfr'k; vuifs {kr gksrk- vkeps i{kdkjkauh rqeph [kwi letwr dk<yh i.k rqEgh R;kaps dkghgh ,ds wu u ?ksrk eyk rqÖ;klkscr fQjk;yk ;k;ps ukgh] eyk ekgsjhp tk;ps vkgs Eg.kwu vkeps i{kdkj vkf.k R;kap s dqVqach;kadMs rxknk ykoyk-") }}

{% endblock %}

{% block prayer %}
rlsp rqeps gkWVsye/;s fn- {{ notice_date }} jksth ?kMysyh ?kVuk gh l{ke iqjkok vlwu rks U;k;ky;kiq<s lknj djk;pk vkgs R;keqGs rqEgh lnj iqjkO;ke/;s dqByhgh NsMNkM dYs ;kl vkeps i{kdkj rqeps fo:/n dk;ns’khj dkjokbZ djrhy] ;kph rqEgh xkHa khZ;kZu s uksan ?;koh-
tj rqEgh vkEgh ekxr vlysizek.ks iqjkos vkEgkyk miyC/k d:u fny s ukghrj vkEgkyk ukbZyktkLro ek- U;k;ky;kekQZr rqEgkyk lk{k leUl dk<wu lnj iqjko s U;k;ky;kr lknj dj.;kps vkns’k n;kos ykxrhy- rRiwohZ rqEgh lnj iqjkos u”V dsY;kl rqEgh iqjkos u”V dys s Eg.kwu rqeps fo:/n dk;ns’khj dkjokbZ d: ;kph nsf[ky uksan ?;koh-
lcc ;k uksVhl }kjs rqEgkyk dGo.;kr ;srs dh]
lnj uksVhl feGkys iklwu 2 fnolkP;k vkr rqEgh vkeps i{kdkjuk rqeps gkWVsye/khy fn- {{ notice_date }} jksth jk=h 12 oktsiklwu rs fn- {{ dishonour_date }} jksth jk=h 11-59 feuhVki;Zarps dkWeu ,fj;ke/khy loZ fllhfVOgh QqVst vkf.k fn- {{ notice_date }} jksthP;k psdbu jftLVjph izr miyC/k d:u n;koh-
vls dj.ks rqeP;kdMwu pqdY;kl vkeps i{kdkj rqeps fo:/n Hkkjrh; ukxjhd lqj{kk lafgrk 2023 ps dye 94 izek.ks
{% endblock %}

{% block verification %}
vls dj.ks rqeP;kdMwu pqdY;kl vkeps i{kdkj rqeps fo:/n dk;nsf”kj dkjokbZ d:u
Qkjdr ?ksrhy vkf.k eqykpk rkck ns[khy ?ksrhy ;kph rqEgh
xkaHkhZ;kus uksan ?;koh-
lnj uksVhlhpk [kpZ jDde :Ik;s 10]000@& gk rqepsoj Bso.;kr
vkysyk vlwu] R;kph ,d izr rqEgkal jft- iks'Vkus ikBowu uDdy vkeps
dk;kZy;kr iqjkO;kdkeh jk[kwu Bsoyh vkgs-
dGko]s gh uksVhl
ukf”kd
fnukad {{ macros.date_format(notice_date, branding.get('date_format', 'DD@MM@YYYY')) }} vWM- {{ branding.get('advocate_name', '') }}
Jh- {{ branding.get('advocate_name', '') }} {% if branding.get('enrollment') %}{{ branding.get('enrollment') }}{% endif %}
i{kdkj
{% endblock %}

{% block footer %}
{% include 'base_footer.j2' with context %}
{% endblock %}
