{# Notice for Restitution of Conjugal Rights #}
{% extends 'base_structure.j2' %}
{% import 'macros.j2' as macros with context %}

{% block document_title %}
{{ macros.notice_header("v;qc[kku vCnqy[kku iBk.k", branding) }}
{% endblock %}

{% block date_line %}
{{ macros.date_line(notice_date, branding) }}
{% endblock %}

{% block notice_heading %}
{{ macros.notice_title() }}
{% endblock %}

{% block recipient_block %}
izfr]
{{ macros.to_block(respondent_name, respondent_address, "Restitution of Conjugal Rights under Section 9 of the Hindu Marriage Act, 1955") }}
{% endblock %}

{% block subject_line %}
{{ macros.notice_title() }} {{ macros.date_line(notice_date, branding) }} {{ macros.notice_title() }} Restitution of Conjugal Rights under Section 9 of the Hindu Marriage Act, 1955
{% endblock %}

{% block instruction_block %}
vkeps i{kdkjkauh izR;{k lkafxrys o:u o fnysY;k ekfgrho:u rlsp nk[foysY;k dkxni=kao:u rqEgkl lnj uksVhlhus dGfo.;kr ;srs rs [kkyhyizek.ks
{% endblock %}

{% block body %}
{{ macros.numbered_para(1, "vkeps i{kdkj o rqEgh gs /keZ vkf.k fo’okl ;kus fganq /kfeZ; vkgsr- lnj nksUgh mHk; i{kkpk fganq /keZ ‘kkL=kizek.ks o :<h ijaijsuqlkj rlsp lektkps pkfyjhrh izek.ks fookg fnukad {{ marriage_date }} jksth {{ marriage_place }}] {{ marriage_place_details }} ;sFks >kysyk vkgs- yXukuarj rqEgh vkeps i{kdkj ;kaps dMs {{ petitioner_address }} ;sFks jkgrs ?kjh ukank;yk vkys- lnj fookg laca/kkrqu mHk;rkauk vktferhl ,d eqyxk vls viR; vkgs-") }}

{{ macros.numbered_para(2, "lnjpk fookg gk vkeps i{kdkjkps HkkÅ ukes {{ petitioner_advocate }} o rqeps ekek ukes {{ respondent_advocate }} ;kaP;k e/;LFkhus teysyk gksrk- fookg Bj.;kiwohZ tsOgk rqEgh vkf.k vkeps i{kdkj dkuMs ;kaP;k ?kjh HksVys gksrs] R;kosGh vkeps i{kdkj ;kauh rqEgkyk R;kaP;k dkekP;k Lo:ikckcr Li”V dYiuk fnyh gksrh- dkekP;k Lo:ikeqGs jk=h&csjk=h yWiVkWioj dke djkos ykxrs gs lkafxrY;koj rqEgh glwu ^^ eh rqeP;k tkWcP;k dkeke/;s O;R;; vk.k.kkj ukgh o rqEgkyk liksVZ djsy** vls lkaxwu laerh fnyh gksrh- vkeps i{kdkjkauhgh rqEgkl uksdjh dj.;kl iw.kZ ikfBack n’kZfoyk gksrk o R;kaph oS;fDrd bPNk gksrh dh rqEgh uksdjh lksMw u;s-") }}

{{ macros.numbered_para(3, "vkeps i{kdkj o rqepk fookg Bj.;kiqohZp vkeps i{kdkj ;kauh rqEgkal Li”V lkafxrys gksrs dh] ^^ eh Hkfo”;kr rqyk dks.kR;kgh lcchoj Qkjdr ns.kkj ukgh] R;keqGs rq vkRrkp fopkjiwoZd fu.kZ; ?ks** R;koj rqEgh vkeps i{kdkj ;kauk laerh n’kZfoyh gksrh- rlsp rqeps vkbZ o oMhy foHkDr jkgr vlY;kph o dkSVqafcd oknkph dYiuk rqeps ekek {{ petitioner_advocate }} o {{ respondent_advocate }} ;kauh vkeps i{kdkjkauk fnyh gksrh] rjhgh vkeps i{kdj ;kauh rqEgkal eukiklwu fLodkjys vkgs-") }}

{{ macros.numbered_para(4, "yXuk uarj rqEgh vkeps i{kdkj ;kaps ?kjh izFke ukan.ksdkeh vkys vlrk ifgY;k fnolkiklwup rqEph okx.kwd vkeps i{kdkjka’kh vlgdk;kZph jkfgyh- yXukP;k ifgY;k jk=hiklwup rqEgh vkeps i{kdkjkauk ‘kkjhfjd laca/k izLFkkfir dj.;kl Li”V udkj fnyk- rqEgh ^^ eyk osG ikfgts vkgs ** vls lkaxwu o vkeps i{kdkjkaph rqyuk rqeP;k HkwrdkGkrhy ckW;QszM ‘kh d:u vkeps i{kdkjkpk ekufld NG dj.;kl lq#okr dsyh- vkeps i{kdkj rqEgkl izsekus letkor vlrkaukgh rqEgh R;kauk lrr nwj yksVys- rqEgh vkeps i{kdkj ;kauk =kl ns.;kl lq:okr dsyh- rqEgh vkeps i{kdkjkcjkscj O;oLFkhr ukanyk ukgh o rqeps lalkjkr eu jer uOgrs o lrr vkeps i{kdkjps ekxs dqjdqj pkyw dsyh- vkeps i{kdkj gs [kktxh uksdjhl vlqu R;kauh vkrki;Zar vkiY;k dqVwackph tckcnkjh O;ofLFkrfjR;k ikj ikMyh vkgs- rqEgkyk d/khgh dkghgh deh iMq fnysys ukgh-") }}

{% endblock %}

{% block prayer %}
rlsp rqeps gkWVsye/;s fn- {{ notice_date }} jksth ?kMysyh ?kVuk gh l{ke iqjkok vlwu rks U;k;ky;kiq<s lknj djk;pk vkgs R;keqGs rqEgh lnj iqjkO;ke/;s dqByhgh NsMNkM dYs ;kl vkeps i{kdkj rqeps fo:/n dk;ns’khj dkjokbZ djrhy] ;kph rqEgh xkHa khZ;kZu s uksan ?;koh-
tj rqEgh vkEgh ekxr vlysizek.ks iqjkos vkEgkyk miyC/k d:u fny s ukghrj vkEgkyk ukbZyktkLro ek- U;k;ky;kekQZr rqEgkyk lk{k leUl dk<wu lnj iqjko s U;k;ky;kr lknj dj.;kps vkns’k n;kos ykxrhy- rRiwohZ rqEgh lnj iqjkos u”V dsY;kl rqEgh iqjkos u”V dys s Eg.kwu rqeps fo:/n dk;ns’khj dkjokbZ d: ;kph nsf[ky uksan ?;koh-
lcc ;k uksVhl }kjs rqEgkyk dGo.;kr ;srs dh]
lnj uksVhl feGkys iklwu 2 fnolkP;k vkr rqEgh vkeps i{kdkjuk rqeps gkWVsye/khy fn- {{ notice_date }} jksth jk=h 12 oktsiklwu rs fn- {{ notice_date }} jksth jk=h 11-59 feuhVki;Zarps dkWeu ,fj;ke/khy loZ fllhfVOgh QqVst vkf.k fn- {{ notice_date }} jksthP;k psdbu jftLVjph izr miyC/k d:u n;koh-
vls dj.ks rqeP;kdMwu pqdY;kl vkeps i{kdkj rqeps fo:/n Hkkjrh; ukxjhd lqj{kk lafgrk 2023 ps dye 94 izek.ks
{% endblock %}

{% block verification %}
vls dj.ks rqeP;kdMwu pqdY;kl vkeps i{kdkj rqeps fo:/n dk;nsf”kj dkjokbZ d:u
Qkjdr ?ksrhy vkf.k eqykpk rkck ns[khy ?ksrhy ;kph rqEgh
xkaHkhZ;kus uksan ?;koh-
lnj uksVhlhpk [kpZ jDde :Ik;s 10]000@& gk rqepsoj Bso.;kr
vkysyk vlwu] R;kph ,d izr rqEgkal jft- iks'Vkus ikBowu uDdy vkeps
dk;kZy;kr iqjkO;kdkeh jk[kwu Bsoyh vkgs-
dGko]s gh uksVhl
ukf”kd
fnukad {{ macros.date_format(notice_date, branding.date_format) }} vWM- {{ branding.advocate_name }}
Jh- {{ branding.advocate_name }} {% if branding.enrollment %}{{ branding.enrollment }}{% endif %}
i{kdkj
{% endblock %}

{% block footer %}
{% include 'base_footer.j2' with context %}
{% endblock %}
